<h1>Be you</h1>
<div class="search">
<div class="search-bar">
<%= form_with url: costumes_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Bring out the real you"
  %>
  <%= submit_tag "Find Your Fit", class: "btn"%>
  </div>
<% end %>
</div>

<div class="filter-dropdown">
  <%= form_with url: costumes_path, method: :get do %>
  <%= select_tag :filter, options_for_select([ "Show All", "Suits", "Costumes", "Cosplays" ], "Show All")
    %>
  <%= submit_tag "Filter", class: "filter-btn" %>
  <% end %>
</div>

<div class="container">
  <div class="index-cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: "card-costume" do %>
        <% if costume.photo.attached?  %>
          <%= image_tag costume.photo, alt: "#{costume.name} image" %>
        <% else %>
          <%= image_tag "No-Image-Placeholder.png", alt: 'No image available' %>
        <% end %>
        <div class="card-costume-info">
          <div>
            <h2><strong><%= costume.name %></strong></h2>
            <p><strong><%= costume.clothing %></strong></p>
            <p><%= costume.description %></p>
          </div>
          <h2 class="card-costume-pricing"><strong>$<%= costume.price %></strong></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%#
<div class="footer">
  <ul class="list-inline">
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-facebook"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-twitter"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-instagram"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-github"></i></a></li>
  </ul>
</div> %>
